[run]
branch = True 
# source 指定要检测哪些代码。
source =
    src.complex_module
    src.calculator
    src.greeter

# omit 指定要从检测中排除哪些文件。
omit =
    src/utils.py
    */__init__.py
    tests/*

[report]
# 在命令行报告中显示缺失的行号
show_missing = True
# 不排除覆盖率为 100% 的文件，所有文件都看
skip_covered = False

sort = Miss

[html]
# 指定 HTML 报告输出的文件夹
directory = htmlcov
skip_covered = False